# Backend API
GEE_PROJECT=gen-lang-client-0997797287
ALLOWED_ORIGINS=http://localhost:3000
GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/service-account.json

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_TILE_URL=https://api.maptiler.com/maps/hybrid/style.json?key=YOUR_KEY
